<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ folder }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ folder }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <div *ngFor="let coor of location.coords">
            <div> {{ coor.lat}} - {{ coor.lng}} </div>
        </div>

        <h3>Current Latitude: {{location.lat}}</h3>
        <h3>Current Longitude: {{location.lng}}</h3>
        <ion-button color="primary" (click)="start()">Start Tracking</ion-button>
        <ion-button color="secondary" (click)="stop()">Stop Tracking</ion-button>

    </div>
</ion-content>